<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Market Data</title>
    <script>
        document.getElementById("symbol").innerHTML = window.location.href;
        urlSymbol = window.location.href;
        tickerSymbol = urlSymbol.substring(urlSymbol.lastIndexOf("/") + 1);
        document.getElementById("symbol").innerHTML = tickerSymbol;

        const url = "wss://stream.data.alpaca.markets/v2/iex"
        const auth = {"action":"auth","key":"AKFOO6Z1ZA5J9L4WR4XD","secret":"NGCMczuSOV3LSdOE7v4azBhP1fwzFNyPHHVCH4rS"}
        const subscribe = {"action":"subscribe","trades":[tickerSymbol],"quotes":[tickerSymbol],"bars":[tickerSymbol]}

        const socket = new WebSocket(url);
        socket.onmessage = function(event){
            const data = JSON.parse(event.data)
            const message = data[0]['msg']

            if (message === 'connected') {
                socket.send(JSON.stringify(auth))
            }

            if (message === 'authenticated') {
                socket.send(JSON.stringify(subscribe))
            }

            for (const key in data) {
                console.log(data[key])
                if(data[key]["T"] === 't'){
                    console.log("trade")
                    console.log(data[key])
                }
                if(data[key]["T"] === 'q'){
                    console.log("quote")
                    console.log(data[key])
                }
                if(data[key]["T"] === 'b'){
                    console.log("bar")
                    console.log(data[key])
                }
            }
        }
    </script>
    <style>
        body{font-family: Consolas,serif;}
        .panel{ width: 400px; height: 400px; border: solid black 1px}
    </style>
</head>
<h1>Market Data API</h1>
<!--<h2 id="symbol"> </h2> From what I'm gathering, this header should be pulling up an icon. Currently, this does not work within the HTML and poses an accessibility issue for screen readers due to the empty header.-->
<img src="placeholder.png" alt ="Placeholder image of a chart"> <!--If you want to add an image, do it like this using an alt tag. Using empty headers is bad for accessibility.-->
<body >
    <h3>Quotes</h3>
    <div id="quotes" class="panel"></div>
    <h3>Trades</h3>
    <div id="trades" class="panel"></div>
    <h3>Bars</h3>
    <div id="bars" class="panel"></div>
</body>
</html>