<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Market Data</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>
<body>
<h1>Market Data API</h1>
<!--<h2 id="symbol"> </h2> From what I'm gathering, this header should be pulling up an icon. Currently, this does not work within the HTML and poses an accessibility issue for screen readers due to the empty header.-->
<img src="placeholder.png" alt ="Placeholder image of a chart"> <!--If you want to add an image, do it like this using an alt tag. Using empty headers is bad for accessibility.-->
    <h3>Quotes</h3>
    <div id="quotes" class="panel"></div>
    <h3>Trades</h3>
    <div id="trades" class="panel"></div>
    <h3>Bars</h3>
    <div id="bars" class="panel"></div>
</body>
</html>