<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Market Data</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>Market Data API</h1>
        <h2 id="symbol"></h2>
        <h3>Quotes</h3>
        <div id="quotes" class="panel"></div>
        <h3>Trades</h3>
        <div id="trades" class="panel"></div>
        <h3>Bars</h3>
        <div id="bars" class="panel"></div>
    </body>
    <script src="script.js"></script>
</html>